.header{
	/*background-color: #fff;*/
	/*position: fixed;*/
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999;
	
}
.index .header{
	position: fixed;
}
#full_bg{
	background-color: #000;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
    position: fixed;
}
#full_bg.over{
	display: block;
}

.header .ui-topNav-wap{
	position: relative;
	z-index: 2;
}

.header .ui-topNav{
	position: relative;
	height: 120px;
	overflow: hidden;
	padding: 0 20px;
	z-index: 2;
	color: #fff;
    transition: all .4s;
}

.header .top-logo{
	padding-top: 15px;
	display: inline-block;
	transition: all .4s;
}

.header .log-img{
	width: 260px;
	height: 62px;
	
}

.header .log-img img{
	width:99%;
}

.header img{
	width: 100%;
}

.header .ui-navlist{
	/*display: inline-block;*/
	position: relative; 
	float: right;
	font-size: 0;
	line-height: 2;
	/*overflow: hidden;*/
}

.header .ui-navlist li{
	display: inline-block;
	padding:44px 20px;
	font-size: 20px;
	cursor:pointer;
	position: relative;
	overflow: hidden;
	transition: all .4s;
}

.nav-cont.zhongxin-news{
	display: none;
}

.nav-btn-tit{
	position: relative;
	z-index: 2;
}

.so .icon-search{
	display: block;
}

.so .icon-search-w{
	display: none;
}

.so:hover .icon-search,.so.on .icon-search{
	display: none;
}


.so:hover .icon-search-w,.so.on .icon-search-w{
	display: block;
}

.header .ui-navlist li.so{
    text-align: center;
    padding: 37px 28px;
    margin-top: 2px;
}
.ui-nav-btn.so .nav-btn-tit{
    width: 16px;
    height: 20px;
    display: inline-block;
    margin-top: 14px;
}


.nav-btn-bg{
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 1;
	background-color: #d70000;
	opacity: 0;
    transition: all 0.3s;
}

.header .ui-navlist li.on a{
	color: #000;
}

.header .ui-navlist li.on .nav-btn-bg{
	opacity: 1;
	top: 0px;
}

.ui-topNav-bg{
	position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    filter: alpha(opacity=20);
    opacity: .5;
    -webkit-transition: all ease-in 250ms;
    transition: all ease-in 250ms;
    z-index: 1;
}


.header:hover .ui-topNav-bg{
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
}

.header .ui-topNav a{
	color: #333;
}

.header.voer .ui-topNav a{
	color: #333;
}

.header.over .ui-topNav a{
	color: #333;
}

.header.over  .ui-topNav li.ui-nav-btn.on a,.header.over  .ui-topNav .ui-nav-btn:hover a{
	color: #fff;
}

/*����莚���*/
.nav-content-warp {
	position: relative;
	/*display: none;*/
}

.nav-cont{
	/*position: relative;
	width: 100%;
	height: 320px;
	overflow: hidden;*/

	position: absolute;
    top: -320px;
    left: 0;
    width: 100%;
    height: 340px;
    overflow: hidden;
    z-index: 1;
    color: #404040;
	background-color: #f2f0f0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);

    transition: all 0.5s;
}



.user_search{
	position: absolute;
    /*top: -120px;*/
    height: 80px;
    overflow: hidden;
    z-index: 1;
    color: #404040;
	background-color: transparent;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);

    transition: all 0.5s;

    text-align: right;
}

.user_leng{
	position: absolute;
    top: -120px;
    height: 150px;
    overflow: hidden;
    z-index: 1;
    color: #404040;
	background-color: transparent;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    transition: all 0.5s;
    text-align: right;
}

.leng-bar{
	display: inline-block;
	background-color: #F2f0f0;
	text-align: center;
    font-size: 16px;
    width: 200px;
    height: 150px;
}

.leng-bar p{
	line-height: 50px;

	cursor: pointer;

}
.leng-bar p:hover{
	background-color: #fff;
	color: #d5000f;
}


.search-bar{
	display: inline-block;
	/*width: 400px;*/
	background-color: #F2f0f0;
	text-align: center;
    font-size: 16px;
}

.search-bar p{
	width: 440px;
	padding: 16px 10px;
	/*line-height: 26px;*/

}


.cards,.leng-bar,.user_search .search-bar{
	-webkit-box-shadow: 0 3px 10px rgba(190,204,204,0.5);
	-moz-box-shadow: 0 3px 10px rgba(190,204,204,0.5);
	box-shadow: 0 3px 10px rgba(190,204,204,0.5);
}

.input-key{
	width: 350px;
	display: inline-block;
	vertical-align: middle;
	border: none;
	background-color: transparent;
	font-size: 18px;
}

.top_menu_submit{
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	cursor: pointer;
	float: right;
}

.header .top_menu_submit img{
	display:none;
}
.top_menu_submit .se-reBtn{
	display:inline-block; width:25px;
	height:25px;
	border:none;
	background:none;
	background:url("../../images/zxgf_en/icon-search.png") no-repeat center;
}


.nav-cont.ui-nav-multCont{
	top: -420px;
	height: 420px;
}

.nav-cont.on{
	top: 0px;
	opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}
.ui-nav-aboutCont{
	/*background-color: #E0E0E0;*/
}

.nav-cont-bgWarp{
    width: 1200px;
    height: 100%;
    /*height: 320px;*/
    float: left;
}

.nav-cont-bg{
	width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/*.ui-nav-aboutCont .nav-cont-bg{
	width: 1200px;
}*/
.ui-nav-multCont .nav-cont-bgWarp{
	width: 800px;
}

.ui-nav-multCont .nav-cont-bg{
	width: 800px;
}

.nav-cont-bg img{
    height: 100%;
    width: auto;
    margin: 0 auto;
}



.nav-cont-txt{
	position: absolute;
	left: 420px;
	top: 20px;
    width: 29%;
    color: #404040;
    max-width: 600px;
	text-align: left;
	z-index: 2;
}

.nav-cont-txt.fl{
	left: 40px;
	top: 30px;
}

.ui-nav-multCont .nav-cont-txt{
	top:380px;
	left: 20px;
	color: #fff;
	font-size: 18px;
}

.nav-cont-txt>p{
	line-height: 1.8;
	font-size: 14px;
	color: #404040;
}
.ui-nav-multCont .nav-cont-txt>p{
	color: #fff;
}

.nav-cont-txt>p.nav-cont-txtTit{
	font-size: 45px;
	padding: 20px 0;
}

.ui-nav-aboutCont .nav-cont-txt>p{
	padding: 50px 0 20px;
}

.nav-cont-list{
	/*position: absolute;
    right: 0;*/
    z-index: 2;
    width: 24%;
    min-width: 235px;
    background-color: #f2f0f0;
    height: 100%;
    /*padding-left: 50px;*/
    /*padding-top: 10px;*/
    position: relative;
    float: left;
}

.ui-nav-multCont .nav-cont-list{
	width: 42%;
	/*min-width: 470px;*/
}

.nav-cont-ls-block{
	width: 49.2%;
	float: left;
}

.nav-cont-ls-tit{
	color: #5f636a;
	font-size: 24px;
	padding:30px 0 20px 50px;
}

.nav-cont-ls-titSml{
	font-size: 16px;
	color: #5f636a;
	height: 40px;
	padding-left: 50px;
}

.nav-cont-items{
	position: relative;
}

.nav-cont-list .nav-cont-items .nav-cont-item{
	font-size: 16px;
	color: #5f636a;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
	z-index: 2;
	position: relative;
}

.nav-cont-list .nav-cont-items .nav-cont-item.on,.nav-cont-list .nav-cont-items .nav-cont-item:hover{
	color: #D5000f;
}

.nav-cont-item-bg{
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 150%;
	background-color: #fff;
	z-index: 1;
	transition: all 0.2s;
	display: none;
}
.ui-nav-multCont .nav-cont-item-bg{
	width: 103%;
}

.nav-cont-items:hover .nav-cont-item-bg{
	display: block;
}



.nav-cont-list .nav-cont-items .nav-cont-item p{
	line-height: 50px;
	padding-left: 50px;
}
.nav-cont-list .nav-cont-items .nav-cont-item p a span{
	background: url("../../images/zx/bus-nav-icon02.png") no-repeat;
	background-position: left center;
	padding-left: 10px; 
}
.nav-cont-list .nav-cont-items .nav-cont-item i{
	display: none;
    border-left: #d5000f solid 2px;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 10px;
}

.nav-cont-swp {
    width: 100%;
    height: 100%;
    /*margin: 0px auto;*/
    position: relative;
}

.nav-cont-swp-bg{
    height: 100%;
    width: 100%;
	margin: 0 auto;
}

.nav-cont-swp-bg img{
	width: auto;
    height: 100%;
    margin:0 auto;
}

.arrow-left {
    background: url("../../images/zx/arrow-left.png") no-repeat left top;
    position: absolute;
    right: 100px;
    top: 88%;
    margin-top: 0;
    width: 36px;
    height: 36px;
    z-index: 999;
}

.arrow-right {
    background: url("../../images/zx/arrow-right.png") no-repeat left top;
    position: absolute;
    right: 50px;
    top: 88%;
    margin-top: 0;
    width: 36px;
    height: 36px;
    z-index: 999;
}
.nav-cont-swp .swiper-slide{
  position: relative;
    overflow: hidden;
}
.nav-cont-swp .swiper-container {
  height: 100%;
  width: 100%;
}
.nav-cont-swp .content-slide {
 	
    color: #fff;
    position: absolute;
    top: 90%;
    left: 76px;
}
.nav-cont-swp .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.nav-cont-swp .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
.nav-cont-swp .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.nav-cont-swp .swiper-active-switch {
  background: #fff;

}
.header.lite .top-logo {
    padding-top: 8px;
}

.header.lite .ui-navlist li.so {
    padding: 18px 28px;
}

.header.lite .ui-navlist li {
    padding: 24px 12px;
}
.header.lite{
	margin-bottom: 40px;
}
.lite02{
	margin-top: -120px;
}
.lite03{
	margin-top: -80px !important;
}
.header.lite .ui-topNav {
    height: 80px;
}


@media  (max-width: 1600px) {
	.nav-cont-bgWarp{
		width: 1000px
	}

	.ui-nav-multCont .nav-cont-bgWarp{
		width: 800px;
	}

	

	.ui-nav-multCont .nav-cont-bg{
		 margin-left: 0px;
	}

	
}

@media  (max-width: 1366px) {
	.header .log-img{
		width: 180px;
		height: 46px;
	}

	.nav-cont-list{
    	/*z-index: 2;*/
    	width: 25%;
	}

	.nav-cont-bgWarp{
		width: 800px
	}

	.ui-nav-multCont .nav-cont-bgWarp{
		width: 700px;
	}

	

	.ui-nav-multCont .nav-cont-bg{
		 margin-left: -50px;
	}

	.nav-cont-bg{
		margin-left:0px; 
	}

	.nav-cont-txt {
    	left: 323px;
	}
}



@media  (max-width: 1280px) {
	

	.ui-nav-multCont .nav-cont-bgWarp{
		width: 600px;
	}

	

	.ui-nav-multCont .nav-cont-bg{
		 margin-left: -100px;
	}

	.header .ui-navlist li{
		padding:44px 12px;
	}

	.header .ui-navlist li.so {
	    padding: 37px 28px;
	}
}

@media  (max-width: 1080px) {

	.header .ui-topNav{
		height:100px;
		border-bottom: 1px solid #ccc;
	}

	.header .top-logo {
	    padding-top: 33px;
	    display: inline-block;
	}

	.header .ui-navlist li {
    	padding: 34px 12px;
	}

	.header .ui-navlist li.so {
	    padding: 26px 10px;
	}

	.nav-cont-list{
	    z-index: 2;
	    width: 28%;
	}

	.ui-nav-multCont .nav-cont-list{
		width: 42%;
	}

	.nav-cont-bgWarp{
		width: 700px
	}

	

	.ui-nav-multCont .nav-cont-bgWarp{
		width: 500px;
	}

	

	.ui-nav-multCont .nav-cont-bg{
		 margin-left: -150px;
	}
}


.m-nav-topBtn{
	float: right;
    width: 32px;
    height: 32px;
    /*background-color: #f00;*/
    margin-top: 33px;
    display: none;

}

.m-menu-arrow{
    width: 20px;
    /*height: 36px;*/
    position: absolute;
    right: 10px;
    top: 10px;
    margin-top: 5px;
    transform: rotate(0deg);
    transition: all 0.2s;
    transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
}

.active .m-menu-arrow{
	transform: rotate(90deg);
    top: 6px;
    right: 15px;
}

.m-nav-up{
	display: block;
}

.m-nav-down{
	display: none;
}

.nav-mobile{
	height: 600px;
	background-color: #f1f1f1;
	overflow: auto;
	display: none;
}

 .m-sub-menu-item,.nav-mobile-item{
	font-size: 16px;
	padding: 0;
	width: 100%;
	text-align: left;
	border-bottom: #ccc solid 1px;
	position: relative;
}

.m-sub-menu-item{
	background-color: #fff;
	color: #5f636a;
}
.m-sub-menu-item p,.nav-mobile-item p{
	padding: 12px;
}
.m-sub-menu-item a{
	color: #5f636a;
}

.nav-mobile-subMenus{
	display: none;
}

/*.nav-mobile-item.search-bar{
	background-color: #fff;
}*/
.nav-mobile-item{
	background-color: #f1f1f1;
	color: #000;
}
.nav-mobile-item.active{
	background-color: #fff;
	color: #d5000f;
}

.nav-mobile-item.active a{
	color: #d5000f;
}

.m-sub-menu-item i{
    border-left: #d5000f solid 2px;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 10px;
    height: 16px;
    display: inline-block;
}

.nav-mobile-item.search-bar p{
	padding: 0;
    margin: 12px 4%;
    width: 92%;
}

.nav-mobile-item  .input-key{
    width: 78%;
    margin-left: 12px;
	font-size:16px;
}

.nav-mobile-item  .top_menu_submit {
    margin-right: 12px;
}

@media  (max-width: 960px) {
	.header .ui-topNav{
		height:80px;
		border-bottom: 1px solid #ccc;
	}

	.header .top-logo {
	    padding-top: 20px;
	    display: inline-block;
	}

	.header.lite .top-logo {
	    padding-top: 20px;
	}

	.ui-topNav-bg{
		background-color: #fff;
		opacity:0.5;
	}

	.nav-content-warp{
		display: none;
	}

	.header .ui-navlist {
		display: none;
	}

	.m-nav-topBtn{
		display: block;
	    margin-top: 22px;
	}

	.header .log-img {
	    width: 120px;
	    height: auto;
	    margin-top:-10px;
	}
}